
body{
background-color:#e6fefd;
padding:25px;
font-size:150%;
}

h1{
color:aqua;
padding:25px;
background:black;
width:fit-content;
font-family:cursive;
font-size:200%;
text-align:center;
margin:0 auto;
}

h3{
color:aqua;
padding:25px;
background:black;
width:fit-content;
font-family:cursive;
font-size:100%;
}

font{font-weight:bold;}

p.special{line-height:150%; border-style:double;}


